/*BLOC ELEMENT MODIFIER (BEM)*/

.app__header {
  /*header est une élément de notre application d'ou le __ avant lui*/
  height: 8vh; /*cela veut dire que la taille de mon header représentera 8% de la taille de mon écran*/
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 10px;
  box-shadow: 1px 1px 15px gray;
  background-color: var(--primary-color);
  opacity: 0;
  animation: down 1000ms ease-in-out forwards;
}

.app__header > section {
  display: flex;
  align-items: center;
}

.app__header > section > figure {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid black 1px;
  overflow: hidden;
  margin-right: 10px;
}

.app__header > section > span {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.app__header > section > figure > img {
  transform: scale(0.8);
}

.app__header > nav {
  animation: left 1000ms 1000ms forwards;
  /* ou
  animation-name: left;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms; */
  opacity: 0;
}

.app__header > nav > ul {
  display: flex;
  justify-content: space-between;
}

.app__header > nav > ul > li {
  margin: 3px;
}
