/*__________BANNERS_______*/
.cart__main {
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.cart__main_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.cart__main_header p,
h1 {
  margin-left: 5px;
}

.cart__main_header h1 {
  font-size: 16px;
  font-weight: 400;
}

.cart__main_header p {
  font-size: 18px;
  font-style: italic;
}

/*_________FORM_________*/

.cart__main_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.cart__main_form section {
  margin: 30px;
}

.cart__main_form section:nth-child(1) {
  display: flex;
  flex-direction: row;
}

.cart__main_form section:nth-child(2) {
  display: flex;
  flex-direction: column;
}
